#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#msg-box4-3 .mbr-header__text {
  color: #000000;
}
#msg-box4-3 .mbr-header__subtext {
  color: #7c706b;
}
#msg-box4-3 .mbr-article {
  color: #ffffff;
}
#msg-box4-3 .mbr-article P {
  color: #000000;
}
#msg-box3-7 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-7 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box4-a .mbr-header__text {
  color: #000000;
}
#msg-box4-a .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-a .mbr-article {
  color: #ffffff;
}
#msg-box4-a .mbr-article P {
  color: #000000;
}
#msg-box4-d .mbr-header__text {
  color: #000000;
}
#msg-box4-d .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-d .mbr-article {
  color: #ffffff;
}
#msg-box4-d .mbr-article P {
  color: #000000;
}
